body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #dfdaff;
    background: linear-gradient(to bottom, #7067f3, #b6c7e8);
}

header {
    background-color: #331bba;
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin-bottom: 4px;
    border-radius: 5px;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }
    
    .navbar {
        display: none;
        width: 100%;
    }

    .navbar.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar.active li {
        margin: 10px 0;
    }
}

article div {
    padding: 8px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
}
article h1 {
    text-align: center;
    font-size: 30px;
}

img {
    justify-content: right;
    display: flex;
}