body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4f44ec, #b6c7e8);

}

header {
    background-color: #331bba;
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin-bottom: 4px;
    border-radius: 5px;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }
    
    .navbar {
        display: none;
        width: 100%;
    }

    .navbar.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar.active li {
        margin: 10px 0;
    }
}

article {
    float: left;
    padding: 30px;
    width: 60%;
    background-color: #dfdaff;
    height: 410px;
    text-align: justify;
}

section nav {
    float: left;
    width: 30%;
    height: 410px;
    background: #aac8fa;
    padding: 30px;
    align-items: center;
}
nav img {
    height: 400px;
    align-items: center;
    margin-left: 1px;
}

article img {
    width: 250px;
    height: 400px;
    border-radius: 20px;
    justify-content: center;
    display: inline-block;
    margin-left: 40px;
}