body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #dfdaff;
    background-image: url(../../framework/gambar1/download\ \(1\).jpeg);
    background-size: cover;
}

header {
    background-color: #331bba;
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin-bottom: 4px;
    border-radius: 5px;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }
    
    .navbar {
        display: none;
        width: 100%;
    }

    .navbar.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar.active li {
        margin: 10px 0;
    }
}


section div {
    align-items: center;
    flex-direction: column;
    display: flex;
}
div .judul {
    color: white;
}

article {
    flex: 1;
    padding: 40px;
    background-color: #cdc3fd;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to right, #8c85f6, #b6c7e8);

}
article img {
    height: 300px;
    float: left;
    margin-bottom: 20px;
    margin-right: 40px;
}

article table {
    margin-bottom: 20px;
    margin-left: 30px;
}

@media (max-width: 600px) {
    nav, article {
        width: 100%;
    }
}